<div class="session-info" id="createdirinfo" width=800px>
    Upload Lecture Video<br><br>
  <form action="{{ url_for('create_dir') }}" enctype="multipart/form-data" method="POST">
    <div class="form-row" id="archivePath">
      <div class="form-column">
        <label for="archivepath">Path</label>
      </div>
      <div class="form-column">
        <input type="text" id="newdirpath" name="newdirpath" readonly>
      </div>
    </div>
    <div class="form-row" id="dirName">
      <div class="form-column">
        <label for="topicname">Directory</label>
      </div>
      <div class="form-column">
        <input type="text" id="newdir" name="newdir" required>
      </div>
    </div>
      <div class="form-row">
        <div class="form-column">
          <label for="language">Availability</label>
        </div>
        <div class="form-column">
          <select id="availability" name="availability">
            <option value="kit">KIT-intern</option>
            <option value="public">Public</option>
          </select>
        </div>
      </div>
    <div class="form-row">
      <div class="form-column">
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>
