<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Available Sessions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

  </head>
  <script src="https://cdn.jsdelivr.net/gh/poush/random-animal/dist/random-animal.min.js"></script>
  <body>
{% set header = 'themes/' ~ theme ~ '/html/header.html' %}
{% include header %}


    <h1>Available Sessions</h1>
    <div class="sessions">
      {% for name, id,present in sessionListLecture %}
      <div class="session">
        <div class="window-header">{{ name }}</div>
        <a href="{{ url_for("session",id=id ) }}">View</a>
        {% if present == True %}
        <a href="{{ url_for("present",id=id ) }}">Present</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="sessions">
      {% for name, id,present in sessionList %}
      <div class="session">
        <div class="window-header">{{ name }}
        {% if present == True %}
        <span class="close-button" onclick="closeWindow({{ id }})">&times;</span>
        {% endif %}
        </div>
	<a href="{{ url_for("viewmeeting",id=id ) }}">View</a>
	<a href="{{ url_for("joinmeeting",id=id ) }}">Join</a>
      </div>
      {% endfor %}
    </div>



      <script>



        function closeWindow(id) {
        console.log("Close session ",id)
        sent_end = true;

        fetch('{{ server }}/'+id+'/0/append', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(JSON.stringify({ "controll": "END"}))
          })
      window.location.href = "{{ url_for('overview',type='meeting') }}";


      }


    </script>





  </body>
</html>
